<style>
* {
  box-sizing: border-box;
}

.wrap {
  margin: 0 auto;
  width: 500px;
}

h2 {
  text-align: center;
  color: #25a6af;
}

.name,
.password {
  margin-bottom: 5px;
  width: 500px;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #333;
}

label {
  padding-right: 10px;
}

input {
  margin-top: 10px;
}

input:focus {
  outline: none;  
}

#btn {
  text-align: center;
}

#btn input {
  width: 45%;
  margin: 2%;
  margin-top: 10px;
  border: none;
  height: auto;
  padding: 5px;
  font-size: 16px;
  border-radius: 100px;
}

.register,
.logIn {
  cursor: pointer;
}

.register {
  background-color: #06a81c;
  color: #fff;
}

.register:hover {
  background-color: #047714;
  color: #fff;
}

.logIn {
  background-color: #ffce49;
  color: #816516;
}

.logIn:hover {
  background-color: #ffc31f;
  color: #816516;
}

</style>
